logs/
past/
tmp/
test/
.ipynb_checkpoints/
wandb
*.pyc
*.pyd
*.so
*.ipynb
.vscode
csokoban/build
csokoban/gym_csokoban.egg-info
csokoban/gym_csokoban/envs/csokoban.cpp
csokoban/gym_csokoban/envs/boxoban-levels
csokoban/gym_csokoban/envs/surface
*__pycache__
thinker/build
thinker/thinker/cenv.cpp
thinker/wandb/
thinker/thinker/cenv.cp39-win_amd64.pyd