logs/
data/
past/
tmp/
test/
hpc/
.idea/
.ipynb_checkpoints/
wandb
*.pyc
*.pyd
*.so
.vscode
sokoban/build
sokoban/gym_sokoban.egg-info
sokoban/gym_sokoban/envs/csokoban.cpp
sokoban/gym_sokoban/envs/boxoban-levels
sokoban/gym_sokoban/envs/surface
*__pycache__
thinker/build
thinker/wandb/
thinker/thinker/cenv.cp39-win_amd64.pyd
thinker/thinker.egg-info
thinker/thinker/cenv.cpp
thinker/notebook
*.egg-info
*.egg-info/*
mujoco-py/mujoco_py/cymj.c
mujoco-py/mujoco_py/generated/
mujoco-py/mujoco_py.egg-info/SOURCES.txt
safety-gym/safety_gym.egg-info/PKG-INFO
